// Normalize -- https://github.com/bymathias/normalize.styl
@import 'normalize'
@import '../../node_modules/chartbuilder-ui/dist/styles.css'

// nib -- http://visionmedia.github.io/nib/
@import 'nib'

// Chartbuilder-specific css
@import 'colors'
@import 'responsive'
@import 'fonts'
@import 'icons'
@import 'type'
@import 'layout'

.logo 
    color: rgba(255,255,255,.6)
    float: none
    display: inline-block
    width: 180px
    height: 76px
    background-size: 180px 76px
	svg 
		fill: #ffffff
		
.cb-alert.cb-alert-success
	background-color: #4ACC66 !important
	
.cb-button.active
	color: #fff;
	background-color: #EC3E3E
	
.cb-button 
	font-family $font-serif
	
	 