// Typography

// Fonts
$font-sans = jubilat,Arial,Helvetica,sans-serif
$font-sans-light = jubilat,Arial,Helvetica,sans-serif
$font-sans-bold = jubilat,Arial,sans-serif
$font-serif = freight-sans-pro, Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


