// Typography

// Fonts
$font-sans = JubilatMedium-Roman,Arial,Helvetica,sans-serif
$font-sans-light = JubilatMedium-Roman,Arial,Helvetica,sans-serif
$font-sans-bold = JubilatMedium-Roman,Arial,sans-serif
$font-serif = FreightSansMedium, Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


